<page-title ng-if="layoutOptions.pageTitles" title="Role Entity" description="Define or Customize Role Entity"></page-title>

<script type="text/ng-template" id="nodes_renderer.html">
  <div class="tree-node">
    <div class="pull-left tree-handle" ui-tree-handle>
      <span class="glyphicon glyphicon-list"></span>
    </div>
    <div class="tree-node-content">
      <a class="btn btn-success btn-xs" data-nodrag ng-click="roleEntityCtrl.toggle(this)">
        <span class="glyphicon" ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
          }">
        </span>
      </a>

      <input type="text" ng-model="node.title">

      <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="roleEntityCtrl.remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
      <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="roleEntityCtrl.newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Please add following Role Entity information</h3>
				<div class="panel-options">
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form" class="form-horizontal" role="form" class="validate">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="role-id">Role Id</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="roleEntityCtrl.roleId" id="role-id" placeholder="Enter Role Id">
						</div>
					</div>
					<div class="form-group-separator"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="role-name">Role Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="role-name" ng-model="roleEntityCtrl.roleName" placeholder="Enter Role Name">
						</div>
					</div>
					<div class="form-group-separator"></div>
					<div class="form-group">
						<div class="col-sm-2 control-label">Organization Level</div>
						<div class="col-sm-10">
							<button ng-click="roleEntityCtrl.expandAll()">Expand all</button>
							<button ng-click="roleEntityCtrl.collapseAll()">Collapse all</button>
							<br />
							<br />
							<div ui-tree id="org-level">
					      <ol ui-tree-nodes="" ng-model="roleEntityCtrl.roleOrgLevel">
					        <li ng-repeat="node in roleEntityCtrl.roleOrgLevel" ui-tree-node ng-include="'nodes_renderer.html'"></li>
					      </ol>
					    </div>
						</div>
					</div>
					<div class="form-group-separator"></div>
					<div class="form-group text-right">
						<button class="btn btn-info" ng-click="roleEntityCtrl.saveRoleEntity()">Submit</button>
						<button class="btn btn-info">Back</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
